<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.api.dao.CertificateDAO">
    <!--查询证书图片-->
    <select id="certificateImage" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT image_url FROM lt_certificate WHERE id = #{certificateId}
    </select>

    <select id="selectUser" parameterType="java.lang.Integer"
            resultType="com.wisewin.api.entity.bo.CertificateResultBO">
        SELECT
        ltc.id,ltc.user_id,ltu.nickname,ltc.course_id,ltc.`status`,
      course.course_name,course.certificate_image_url
    FROM
        lt_certificate AS ltc
    LEFT JOIN lt_user AS ltu ON ltc.user_id=ltu.id
    LEFT JOIN lt_course AS `course` ON ltc.course_id=course.id
    WHERE ltc.user_id=#{userId}
    </select>

    <insert id="addCertificate" parameterType="java.util.List">
        insert into
        lt_certificate
        (user_id,course_id,send,status,create_time,certificate_number)
        values
        <foreach collection ="list" item="cer" separator =",">
            (#{cer.userId},#{cer.courseId},'no','no',now(),#{cer.certificateNumber})
        </foreach >
    </insert>

    <select id="queryCateList" resultType="com.wisewin.api.entity.bo.CateBO">
        SELECT lt_user.nickname as nickname ,lt_course.course_name as courseName,lt_course.certificate_image_url as imageUrl,lt_certificate.id as id,lt_certificate.user_id as userId,lt_certificate.course_id as courseId,lt_certificate.status as status
FROM lt_certificate,lt_course,lt_user WHERE lt_certificate.user_id = lt_user.id AND lt_certificate.course_id = lt_course.id AND lt_certificate.user_id =#{userId}
    </select>
</mapper>