<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.api.dao.ClauseDAO">

    <select id="selectClauseBOByClassify" parameterType="java.lang.String" resultType="com.wisewin.api.entity.bo.ClauseBO">
        select classify,content from lt_clause where classify=#{classify}
    </select>

</mapper>