<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 反馈信息 -->
<mapper namespace="com.wisewin.api.dao.CouplebacDAO" >


    <insert id="addCpupleback" useGeneratedKeys="true" keyProperty="id"  parameterType="com.wisewin.api.entity.bo.CouplebackBO">
        INSERT  INTO
          lt_coupleback(
          userid,content,
          contactpattern,pattern,
          pictureurl,create_time,
          update_time
          )VALUES(
          #{userid},#{content},
          #{contactpattern},#{pattern},
          #{pictureurl},now(),
          now()

          )
    </insert>


</mapper>