<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.api.dao.CourseDAO">

    <!--热门课程-->
    <select id="getHotCourse" parameterType="java.util.Map" resultType="com.wisewin.api.entity.bo.CourseBO">
       SELECT
	    `language`.language_name,
	    `language`.thumbnail_image_url,
	    course.course_name,
	    course.course_intro,
		course.price,
		course.discount_price,
	    course.certificate_or_not,
	    course.id
      FROM
	    lt_course `course`
      JOIN lt_language `language` ON course.language_id = `language`.id
      WHERE course.hot_or_not = 'yes'
		<include refid="limit" />
    </select>
	<sql id="limit">
		limit #{pageOffset},#{pageSize}
	</sql>

    <!--课程详情页课程模块-->
    <select id="courseDetailsCourse" parameterType="java.lang.Integer"
			resultType="com.wisewin.api.entity.bo.CourseDetailsResultBO">
        SELECT
			`language`.language_name languageName,
			course.thumbnail_image_url courseThumbnail,
			course.course_name,course.course_intro,
			course.course_lightspot,course.purchase_notes,
			course.certificate_or_not certificateOrNot,course.certificate_title certificateTitle,
			course.certificate_image_url certificateImageUrl,
			course.price coursePrice,course.discount_price courseDiscountPrice,
			course.id courseId
		FROM
			lt_course `course`
		LEFT JOIN lt_language `language` ON course.language_id = `language`.id
		WHERE
			course.`status` = 'putaway' AND course.id = #{id}
    </select>
	<!--课程详情页级别模块-->
	<select id="courseDetailsLevel" parameterType="java.lang.Integer" resultType="com.wisewin.api.entity.bo.CourseDetailsLevelResultBO">
		SELECT
		`level`.level_name levelName,`level`.id levelId
		FROM
			lt_level `level`
		LEFT JOIN lt_course `course` ON course.id = `level`.course_id
		WHERE
			course.`status` = 'putaway' AND course.id = #{id}
	</select>
	<!--搜索课程-->
	<select id="courseSearch" parameterType="com.wisewin.api.entity.bo.CourseDetailsResultBO"
			resultType="com.wisewin.api.entity.bo.CourseDetailsResultBO">
		SELECT
			`language`.language_name languageName,course.course_name courseName,
			course.course_intro courseIntro,course.thumbnail_image_url courseThumbnail,
			course.certificate_or_not certificateOrNot,course.id courseId
		FROM lt_course `course`
		LEFT JOIN lt_language `language` ON course.language_id = `language`.id
		<where>
			course.`status`='putaway' AND `language`.`status`='putaway'
			<if test="languageName!=null || languageName!=''">
				AND `language`.language_name LIKE '%${languageName}%'
				OR course.course_name LIKE '%${languageName}%'
			</if>


		</where>
	</select>

	<select id="selectCourse" resultType="com.wisewin.api.entity.bo.CourseBO">

		SELECT 	id,
			course_name as courseName,
			language_id as languageId,
			foreign_name as foreignName,
			`status` as status,
			price as price,
			discount_price as discountPrice,
			discount_start_time as discountStartTime,
			discount_end_time as discountEndTime,
			course_validity_period as courseValidityPeriod,
			study_number as studyNumber,
			thumbnail_image_url as thumbnailImageUrl,
			course_intro as courseIntro,
			course_lightspot as courseLightspot,
			purchase_notes as purchaseNotes,
			popular_sort as popularSort ,
			hot_or_not as hotOrNot,
			certificate_or_not as certificateOrNot,
			certificate_title as certificateTitle,
			certificate_intro as certificateIntro,
			certificate_image_url  as certificateImageUrl,
			create_user_id as createUserId,
			create_time as createTime,
			update_user_id as updateUserId,
			update_time as updateTime

			FROM
			language_talent.lt_course

			where id =#{id}
	</select>



	<!--根据语言id查询课程-->
	<select id="listCousebyLanguage"   resultType="com.wisewin.api.entity.bo.CourseBO">
		SELECT 	id,
		course_name as courseName,
		language_id as languageId,
		foreign_name as foreignName,
		`status` as status,
		price as price,
		discount_price as discountPrice,
		discount_start_time as discountStartTime,
		discount_end_time as discountEndTime,
		course_validity_period as courseValidityPeriod,
		study_number as studyNumber,
		thumbnail_image_url as thumbnailImageUrl,
		course_intro as courseIntro,
		course_lightspot as courseLightspot,
		purchase_notes as purchaseNotes,
		popular_sort as popularSort ,
		hot_or_not as hotOrNot,
		certificate_or_not as certificateOrNot,
		certificate_title as certificateTitle,
		certificate_intro as certificateIntro,
		certificate_image_url  as certificateImageUrl,
		create_user_id as createUserId,
		create_time as createTime,
		update_user_id as updateUserId,
		update_time as updateTime

		FROM
		language_talent.lt_course

		where language_id = #{id}
	</select>

	<!--热门搜索-->
	<select id="hotCourse" resultType="com.wisewin.api.entity.bo.HotCourseResultBO">
		SELECT
	    	lc.id courseId,lc.course_name
		FROM lt_course lc
		WHERE lc.hot_or_not = 'yes' AND lc.`status` = 'putaway'
	</select>

	<!--通过语言id查课程id-->
	<select id="getCourseIdById" resultType="com.wisewin.api.entity.bo.CourseBO">
		SELECT co.id courseId,co.certificate_or_not certificateOrNot
		FROM lt_course co
		LEFT JOIN lt_language la ON co.language_id = la.id
		WHERE la.id = #{languageId}
	</select>

	<!--通过语言id查课程id name-->
	<select id="getCoursesById" resultType="com.wisewin.api.entity.bo.CourseBO">
		select co.id,co.course_name,course_validity_period,co.price,co.discount_price,co.discount_start_time,co.discount_end_time
		from lt_course co
		left join lt_language la on co.language_id = la.id
		where la.id = #{languageId}
	</select>

	<!--通过id查name-->
	<select id="getCourseById" parameterType="java.lang.Integer" resultType="com.wisewin.api.entity.bo.CourseBO">
		select id,course_name,course_validity_period,price,discount_price,
		discount_start_time as discountStartTime,
		discount_end_time as discountEndTime
		from lt_course where id=#{id}
	</select>
</mapper>