<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.api.dao.CourseDAO">

    <!--热门课程-->
    <select id="getHotCourse" parameterType="java.util.Map" resultType="com.wisewin.api.entity.bo.CourseBO">
       SELECT
	    `language`.language_name,
	    `language`.thumbnail_image_url,
	    course.course_name,
	    course.course_intro,
		course.price,
		course.discount_price,
	    course.certificate_or_not,
	    course.id
      FROM
	    lt_course `course`
      JOIN lt_language `language` ON course.language_id = `language`.id
      WHERE course.hot_or_not = 'yes'
		<include refid="limit" />
    </select>
	<sql id="limit">
		limit #{pageOffset},#{pageSize}
	</sql>

    <!--课程详情页-->
    <select id="courseDetails" parameterType="com.wisewin.api.entity.bo.CourseBO" resultType="com.wisewin.api.entity.bo.CourseBO">
        SELECT
			`language`.language_name languageName,
			course.thumbnail_image_url courseThumbnail,
			course.course_name,course.course_intro,
			course.certificate_or_not,course.certificate_title certificateTitle,
			course.certificate_image_url certificateImageUrl,
			course.certificate_intro certificateIntro,
			`level`.level_name levelName,`level`.id levelId,
			course.course_lightspot,course.purchase_notes,
			course.price,course.discount_price,course.id
		FROM
			lt_course `course`
		LEFT JOIN lt_language `language` ON course.language_id = `language`.id
		LEFT JOIN lt_level `level` ON course.id = `level`.course_id
		WHERE
			course.`status` = 'putaway' AND course.id = #{id}
    </select>
	<!--搜索课程-->
	<select id="courseSearch" parameterType="java.lang.String" resultType="com.wisewin.api.entity.bo.CourseBO">
		SELECT
			`language`.language_name,course.course_name,
			course.course_intro,course.thumbnail_image_url,
			course.certificate_or_not,course.id courseId
		FROM lt_course `course`
		LEFT JOIN lt_language `language` ON course.language_id = `language`.id
		<where>
			`language`.language_name LIKE concat('%',#{languageName},'%')
			AND course.`status`='putaway'
		</where>
	</select>

	<select id="selectCourse" resultType="com.wisewin.api.entity.bo.CourseBO">

		SELECT 	id,
			course_name as courseName,
			language_id as languageId,
			foreign_name as foreignName,
			`status` as status,
			price as price,
			discount_price as discountPrice,
			discount_start_time as discountStartTime,
			discount_end_time as discountEndTime,
			course_validity_period as courseValidityPeriod,
			study_number as studyNumber,
			thumbnail_image_url as thumbnailImageUrl,
			course_intro as courseIntro,
			course_lightspot as courseLightspot,
			purchase_notes as purchaseNotes,
			popular_sort as popularSort ,
			hot_or_not as hotOrNot,
			certificate_or_not as certificateOrNot,
			certificate_title as certificateTitle,
			certificate_intro as certificateIntro,
			certificate_image_url  as certificateImageUrl,
			create_user_id as createUserId,
			create_time as createTime,
			update_user_id as updateUserId,
			update_time as updateTime

			FROM
			language_talent.lt_course

			where id =#{id}
	</select>



	<!--根据语言id查询课程-->
	<select id="listCousebyLanguage"   resultType="com.wisewin.api.entity.bo.CourseBO">
		SELECT 	id,
		course_name as courseName,
		language_id as languageId,
		foreign_name as foreignName,
		`status` as status,
		price as price,
		discount_price as discountPrice,
		discount_start_time as discountStartTime,
		discount_end_time as discountEndTime,
		course_validity_period as courseValidityPeriod,
		study_number as studyNumber,
		thumbnail_image_url as thumbnailImageUrl,
		course_intro as courseIntro,
		course_lightspot as courseLightspot,
		purchase_notes as purchaseNotes,
		popular_sort as popularSort ,
		hot_or_not as hotOrNot,
		certificate_or_not as certificateOrNot,
		certificate_title as certificateTitle,
		certificate_intro as certificateIntro,
		certificate_image_url  as certificateImageUrl,
		create_user_id as createUserId,
		create_time as createTime,
		update_user_id as updateUserId,
		update_time as updateTime

		FROM
		language_talent.lt_course

		where language_id = #{id}
	</select>
</mapper>