<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 字典 -->
<mapper namespace="com.wisewin.api.dao.DictionariesDAO" >

    <!--字典表-->
    <select id="queryDictionaries" parameterType="java.lang.String" resultType="com.wisewin.api.entity.bo.DictionariesBO">
        select lt_dictionary_value.id,`name` as `key`,`value` from lt_dictionary,lt_dictionary_value
        where lt_dictionary.id=lt_dictionary_value.kid and `name`=#{name}
        order by sort desc
    </select>


</mapper>