<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 发现 -->
<mapper namespace="com.wisewin.api.dao.DiscoverDao" >

    <!--发现首页显示-->
    <select id="queryDiscover" resultType="com.wisewin.api.entity.param.DiscoverParam">

        SELECT
          id,title,
          browse,create_time,
          thumbnail,video,
          `type`,priority,
          stick,`show`,
          way
        FROM
          lt_discover
        WHERE
          `type`='journalism'
        OR
          `type`='course'
        ORDER  BY
          priority
        desc

        <include refid="orderLimit" />

    </select>
    <sql id="orderLimit">
        limit #{pageNo},#{pageSize}
    </sql>

    <select id="findcoun" resultType="int">
        SELECT
         COUNT(`type`)
        FROM
        lt_discover
        WHERE
          `type`='journalism'
        OR
          `type`='course'
    </select>


    <!--发现线下活动-->
    <select id="queryDiscovertype" resultType="com.wisewin.api.entity.param.DiscoverParam">

        SELECT
        id,title,
        browse,create_time,
        thumbnail,content,video,
        createTime,
        `type`,priority,
        stick,`show`,
        way
        FROM
        lt_discover
        WHERE
        `type`='activity'
        ORDER  BY
        priority


    </select>

    <!--线下活动-->
    <select id="queryDiscoveractivity" resultType="com.wisewin.api.entity.bo.DiscoverBO">
      SELECT
        id,title,
        browse,create_time,
        thumbnail,
        video,
        content,
        `type`,likenum,
        participation,activitytime,
        activitysite,phone,
        ticket,skip
      FROM
        lt_discover
      WHERE
        id=#{id}
    </select>


    <!--浏览人数查询-->
    <select id="findDiscoveractivitybrowse" resultType="com.wisewin.api.entity.bo.DiscoverBO">
      SELECT
        id,browse
      FROM
        lt_discover
      WHERE
        id=#{id}
    </select>

    <!--修改浏览人数值-->
    <update id="updateDiscover" parameterType="java.util.Map">
        UPDATE
          lt_discover
        SET
          browse=#{browse}
        WHERE
         id=#{id}
    </update>

    <!--修改浏览人数值-->
    <update id="updatelikenumDiscover" parameterType="java.util.Map">
        UPDATE
        lt_discover
        SET
        likenum=#{likenum}
        WHERE
        id=#{id}
    </update>


    <!--查找喜欢方法-->
    <select id="findDiscoverlikenum" resultType="com.wisewin.api.entity.bo.DiscoverBO">
 SELECT
        id,likenum
      FROM
        lt_discover
      WHERE
        id=#{id}
    </select>


</mapper>