<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.api.dao.LanguageDAO">
    <!--为你定制-->
    <select id="selectEnsignImage" resultType="com.wisewin.api.entity.bo.EnsignImageResultBO">
        SELECT
	      ensign_image_url ensignImageUrl,language_name languageName,
	      `language`.id languageId
        FROM
	      lt_language `language`
        WHERE
	      `language`.`status` = 'putaway' AND `language`.hot_or_not = 'yes'
    </select>
    <!--限时特惠-->
    <select id="getFlashSales" resultType="com.wisewin.api.entity.bo.FlashSalesResultBO">
       SELECT
	    `language`.thumbnail_image_url,
	    `language`.language_name,
	    `language`.language_intro,
	    `language`.price languagePrice,
	    `language`.discount_price languageDiscountPrice,
	    `language`.discount_end_time discountEndTime
      FROM
	    lt_language `language`
      WHERE
	    `language`.`status` = 'putaway'
      AND NOW() BETWEEN `language`.discount_start_time
      AND `language`.discount_end_time
    </select>

	<!--查看全部显示特惠-->
	<select id="getAllFlashSales" resultType="com.wisewin.api.entity.bo.FlashSalesResultBO">
		SELECT
	    `language`.thumbnail_image_url,`language`.language_name,
	    `language`.language_intro,`language`.price languagePrice,
	    `language`.discount_price languageDiscountPrice,
	    `language`.discount_end_time discountEndTime,
		lc.certificate_or_not
      FROM lt_language `language` LEFT JOIN lt_course lc ON lc.language_id = `language`.id
      WHERE `language`.`status` = 'putaway' AND lc.`status`='putaway'
      AND NOW() BETWEEN `language`.discount_start_time AND `language`.discount_end_time
      GROUP BY `language`.language_name
	</select>
    <!--语言详情页-->
    <select id="languageDetails" parameterType="com.wisewin.api.entity.bo.LanguageBO" resultType="com.wisewin.api.entity.bo.LanguageBO">
       SELECT
	`language`.video_path,`language`.id,
	`language`.language_name,
	`language`.language_intro,
	`language`.language_lightspot,
	`language`.purchase_notes,
	`language`.price languserPrice,
	`language`.discount_price languageDiscountPrice,
    `level`.level_name levelName,`level`.id levelId,
	course.id courseId,course.certificate_or_not certificateOrNot,
	course.certificate_title certificateTitle,
	course.certificate_image_url certificateImageUrl,
	course.certificate_intro certificateIntro,
	course.course_name courseName,
	course.price coursePrice,
	course.discount_price courseDiscountPrice
FROM
	lt_language `language`
LEFT JOIN lt_course `course` ON `language`.id = course.language_id
LEFT JOIN lt_level `level` ON course.id = `level`.course_id
LEFT JOIN lt_chapter `chapter` ON `level`.id = chapter.level_id
WHERE
	`language`.`status` = 'putaway'
AND course.`status` = 'putaway'
	AND `language`.id = #{id}

    </select>

	<!--我学习的语言-->
	<select id="myStudyLanguage" resultType="com.wisewin.api.entity.bo.MyStudyLanguageBO"
			parameterType="java.lang.Integer">
		SELECT la.id languageId,la.ensign_image_url,la.language_name
        FROM lt_language `la` LEFT JOIN lt_study_courses `sc` ON la.id = sc.language_id
		WHERE sc.user_id =#{userId}
	</select>

	<!--语言名称列表-->
	<select id="languageList" resultType="com.wisewin.api.entity.bo.MyStudyLanguageBO">
		SELECT la.id languageId,la.ensign_image_url,la.language_name
		FROM lt_language la WHERE la.status = 'putaway' ORDER BY CONVERT(la.language_name USING gbk) COLLATE gbk_chinese_ci
	</select>

	<!--单查询语言表-->
	<select id="selectLanguageG"  resultType="com.wisewin.api.entity.bo.LanguageBO">
		SELECT 	id,
		language_name as languageName,
		`status`,
		foreign_language_name as foreignLanguageName,
		ensign_image_url as ensignImageUrl,
		thumbnail_image_url as thumbnailImageUrl,
		popular_sort as thumbnailImageUrl,
		language_lightspot as languageLightspot,
		purchase_notes as purchaseNotes,
		video_path as videoPath,
		language_intro as languageIntro,
		price as languagePrice,
		discount_price as languageDiscountPrice,
		discount_start_time as discountStartTime,
		discount_end_time as discountEndTime
		FROM
		language_talent.lt_language
		WHERE id = #{id}
	</select>

</mapper>