<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.api.dao.LanguageDAO">
    <!--为你定制-->
    <select id="selectEnsignImage" resultType="com.wisewin.api.entity.bo.EnsignImageResultBO">
        SELECT
	      la.ensign_image_url ensignImageUrl,la.language_name languageName,
	      la.id languageId
        FROM lt_language la
        LEFT JOIN lt_course co ON la.id = co.language_id
        WHERE
	      la.`status` = 'putaway' AND la.hot_or_not = 'yes' AND co.`status`='putaway'
	      GROUP BY la.language_name ORDER BY la.popular_sort DESC
    </select>
    <!--限时特惠-->
    <select id="getFlashSales" resultType="com.wisewin.api.entity.bo.FlashSalesResultBO">
       SELECT
       `language`.id languageId,
	    `language`.thumbnail_image_url,
	    `language`.language_name,
	    `language`.language_intro,
	    `language`.price languagePrice,
	    `language`.discount_price languageDiscountPrice,
	    `language`.discount_end_time discountEndTime
      FROM
	    lt_language `language`
      WHERE
	    `language`.`status` = 'putaway'
      AND NOW() BETWEEN `language`.discount_start_time
      AND `language`.discount_end_time
    </select>

	<!--查看全部限时特惠-->
	<select id="getAllFlashSales" resultType="com.wisewin.api.entity.bo.FlashSalesResultBO">
		SELECT
		`language`.id languageId,
	    `language`.thumbnail_image_url,`language`.language_name,
	    `language`.language_intro,`language`.price languagePrice,
	    `language`.discount_price languageDiscountPrice,
	    `language`.discount_end_time discountEndTime,
	    `language`.discount_start_time discountStartTime
      FROM lt_language `language`
      WHERE `language`.`status` = 'putaway'
      AND NOW() BETWEEN `language`.discount_start_time AND `language`.discount_end_time
      GROUP BY `language`.language_name
	</select>
    <!--语言详情页语言模块-->
    <select id="languageDetails" parameterType="java.lang.Integer" resultType="com.wisewin.api.entity.bo.LanguageDetailsResultBO">
       SELECT
	`language`.video_path,`language`.id,
	`language`.language_name,
	`language`.language_intro,
	`language`.language_lightspot,
	`language`.price languagePrice,
	`language`.discount_price languageDiscountPrice,
	`language`.discount_start_time,
	`language`.discount_end_time
FROM
	lt_language `language`
WHERE
	`language`.`status` = 'putaway'
	AND `language`.id = #{id}

    </select>
	<select id="languageDetailsCourse" parameterType="java.lang.Integer"
			resultType="com.wisewin.api.entity.bo.LanguageDetailsCourseResultBO">
		SELECT
			course.id courseId,course.certificate_or_not certificateOrNot,
			course.course_name courseName,
			course.price coursePrice,
			course.discount_price courseDiscountPrice,
			course.discount_start_time,
			course.discount_end_time

		FROM
	lt_language `language`
LEFT JOIN lt_course `course` ON `language`.id = course.language_id
WHERE
	`language`.`status` = 'putaway'
	AND course.`status` = 'putaway'
	AND `language`.id = #{id}
	</select>

	<!--我学习的语言-->
	<select id="myStudyLanguage" resultType="com.wisewin.api.entity.bo.MyStudyLanguageBO"
			parameterType="java.lang.Integer">
		SELECT la.id languageId, la.ensign_image_url, la.language_name
		FROM lt_language `la`
		LEFT JOIN lt_course co ON la.id = co.language_id
		LEFT JOIN lt_order_courses oc ON oc.courses_id = co.id
		LEFT JOIN lt_order `or` ON `or`.id = oc.order_id
		WHERE `or`.`status` = 'yes' AND oc.course_validity_period > NOW() AND oc.user_id = #{userId}
		GROUP BY la.language_name
	</select>

	<!--语言名称列表-->
	<select id="languageList" resultType="com.wisewin.api.entity.bo.MyStudyLanguageBO">
		SELECT la.id languageId,la.ensign_image_url,la.language_name
		FROM lt_language la
		LEFT JOIN lt_course co ON la.id = co.language_id
		WHERE la.status = 'putaway' AND co.`status`='putaway' GROUP BY la.language_name
		ORDER BY CONVERT(la.language_name USING gbk) COLLATE gbk_chinese_ci
	</select>

	<!--单查询语言表-->
	<select id="selectLanguageG"  resultType="com.wisewin.api.entity.bo.LanguageBO">
		SELECT 	id,
		language_name as languageName,
		`status`,
		foreign_language_name as foreignLanguageName,
		ensign_image_url as ensignImageUrl,
		thumbnail_image_url as thumbnailImageUrl,
		popular_sort as thumbnailImageUrl,
		language_lightspot as languageLightspot,
		purchase_notes as purchaseNotes,
		video_path as videoPath,
		language_intro as languageIntro,
		price as languagePrice,
		discount_price as languageDiscountPrice,
		discount_start_time as discountStartTime,
		discount_end_time as discountEndTime
		FROM
		language_talent.lt_language
		WHERE id = #{id}
	</select>



</mapper>