<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【收藏】 -->
<mapper namespace="com.wisewin.api.dao.FavoritesDAO">
    <!--查询用户课时收藏记录-->
    <select id="selectFavorites" resultType="com.wisewin.api.entity.bo.FavoritesResultBO"
            parameterType="java.util.Map">
     SELECT
	  lmf.user_id,lmf.source_id,ll.language_name,lc.course_name,lv.level_name,
        lch.chapter_name,lch.thumbnail_url,lch.chapter_intro,lch.id chapterId,lc.id courseId
    FROM
      lt_my_favorite AS lmf
    left JOIN `lt_chapter`  AS lch ON lmf.source_id=lch.id
    left JOIN `lt_level`    AS lv ON lch.level_id=lv.id
    left JOIN `lt_course`   AS lc ON lv.course_id=lc.id
    left JOIN `lt_language` AS ll ON lc.language_id=ll.id

        <where>
            lmf.user_id=#{userId}
            <if test="source!=null and source!='' ">AND lmf.source=#{source}</if>
        </where>
        ORDER BY lmf.create_time DESC
        <include refid="limit" />
    </select>
    <sql id="limit">
        limit #{pageOffset},#{pageSize}
    </sql>

    <!--查询用户发现收藏记录-->
    <select id="selectDiscover" resultType="com.wisewin.api.entity.bo.DiscoverResultBO"
            parameterType="java.util.Map">
        SELECT mf.user_id,mf.source,mf.source_id,dis.title,dis.thumbnail,
        dis.video,dis.content,dis.`type`,dis.activitytime,dis.ticket,dis.skip,dis.videoImg
        FROM `lt_my_favorite` AS mf
        LEFT JOIN lt_discover AS dis
        ON dis.id=mf.source_id
        <where>
            mf.user_id=#{userId}
            <if test="source!=null and source!='' ">AND mf.source=#{source}</if>
        </where>
        ORDER BY mf.create_time DESC
        <include refid="limit" />
    </select>
    <!--查询用户专题收藏记录-->
    <select id="selectSubject" resultType="com.wisewin.api.entity.bo.SpecialResultBO"
            parameterType="java.util.Map">
        SELECT mf.user_id,mf.source_id,mf.source,
        ls.title,ls.describe,ls.video_cover
        FROM `lt_my_favorite` AS mf
        LEFT JOIN lt_special AS ls
        ON ls.id=mf.source_id
        <where>
            mf.user_id=#{userId}
            <if test="source!=null and source!='' ">AND mf.source=#{source}</if>
        </where>
        ORDER BY mf.create_time DESC
        <include refid="limit" />
    </select>
        <!--添加收藏-->
    <insert id="insertCollect" parameterType="com.wisewin.api.entity.bo.MyFavoriteBO">
      INSERT INTO lt_my_favorite
        <set>
            <if test="userId!=null">   user_id=#{userId},</if>
            <if test="source!=null">   source=#{source},</if>
            <if test="sourceId!=null"> source_id=#{sourceId},</if>
            create_time=now()
        </set>

    </insert>
    <!--取消收藏-->
    <delete id="delCollect" parameterType="com.wisewin.api.entity.bo.MyFavoriteBO">
        DELETE FROM lt_my_favorite
        WHERE
        user_id=#{userId}
        AND source_id=#{sourceId}
        AND source=#{source}
    </delete>
    <!--查询用户收藏-->
    <select id="selectAll" parameterType="com.wisewin.api.entity.bo.MyFavoriteBO"
            resultType="java.lang.Integer">
        SELECT COUNT(id) FROM lt_my_favorite
        WHERE
        user_id=#{userId}
        AND source_id=#{sourceId}
        AND source=#{source}
    </select>
    <!--备用-->
    <!--&lt;!&ndash;查询某个课程的收藏状态&ndash;&gt;-->
    <!--<select id="selectStatus"  resultType="java.lang.String"-->
            <!--parameterType="com.wisewin.api.entity.bo.MyFavoriteBO">-->
        <!--SELECT status-->
        <!--FROM lt_my_favorite-->
        <!--WHERE-->
        <!--user_id=#{userId} AND source_id=#{sourceId}-->

    <!--</select>-->

</mapper>
