<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.api.dao.OrderDAO">

    <resultMap id="ordermap" type="com.wisewin.api.entity.bo.OrderBO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="price" column="price"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderType" column="order_type"/>
        <result property="status" column="status"/>
        <result property="productName" column="product_name"/>
        <result property="creationDate" column="creation_date"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="lcId" column="lc_id"/>
        <result property="type" column="type"/>
        <association property="courseValidityPeriodBO" column="id" select="selectCourseValidityPeriodBO"/>
        <discriminator javaType="java.lang.String" column="type">
            <case value="curriculum" resultMap="coursemap"></case>
            <case value="language" resultMap="languagemap"></case>
        </discriminator>
        <!--<association property="courseOrderBO" column="lc_id" select="selectCouseByOrder"/>-->
    </resultMap>
    <resultMap id="coursemap" type="com.wisewin.api.entity.bo.OrderBO" extends="ordermap">
        <association property="courseOrderBO" column="lc_id" select="selectCouseByOrder"/>
    </resultMap>
    <resultMap id="languagemap" type="com.wisewin.api.entity.bo.OrderBO" extends="ordermap">
        <association property="languageOrderBO" column="lc_id" select="seleteByLanguageOrder" />
    </resultMap>

    <select id="selectCouseByOrder" resultType="com.wisewin.api.entity.bo.CourseOrderBO">
        SELECT thumbnail_image_url,course_intro FROM lt_course WHERE id = #{lc_id}
    </select>

    <select id="seleteByLanguageOrder" resultType="com.wisewin.api.entity.bo.LanguageOrderBO">
        SELECT thumbnail_image_url,language_intro FROM lt_language WHERE id = #{lc_id}
    </select>

    <select id="selectCourseValidityPeriodBO" resultType="com.wisewin.api.entity.bo.CourseValidityPeriodBO">
        SELECT course_validity_period FROM lt_order_courses WHERE order_id = #{id}  LIMIT 1
    </select>

    <!--级联操作-->
    <select id="listOrderBo" parameterType="java.util.Map" resultMap="ordermap">
        SELECT 	id,
        user_id,
        price,
        order_number,
        order_type,
        `status`,
        product_name,
        creation_date,
        create_time,
        update_time,
        lc_id,
        `type`
        from lt_order
        <where>
            user_id = #{userId}
            <if test="orderType!=null">AND order_type=#{orderType}</if>
            <if test="status!=null">AND status=#{status}</if>
        </where>
        ORDER BY `create_time` DESC

        <include refid="limit" />
    </select>

    <!--
    查询所有记录
        <select id="selectAll" resultType="com.wisewin.api.entity.bo.OrderBO"
                parameterType="java.util.Map">
            select
                  *
            from lt_order

            <where>
                user_id=#{userId}
                <if test="orderType!=null">AND order_type=#{orderType}</if>
                <if test="status!=null">AND status=#{status}</if>
            </where>
            ORDER BY `create_time` DESC

            <include refid="limit" />
        </select>-->
    <sql id="limit">
        limit #{pageOffset},#{pageSize}
    </sql>

    <!--查询订单详情-->
    <select id="selectDetails" resultMap="ordermap"
            parameterType="java.util.Map">
        SELECT * FROM lt_order
        <where>
            user_id=#{userId} AND id=#{id}
        </where>

    </select>

    <!--插入订单-->
    <insert id="insertOrder" parameterType="com.wisewin.api.entity.bo.OrderBO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO language_talent.lt_order
        (
        user_id,
        price,
        order_number,
        order_type,
        `status`,
        product_name,
        creation_date,
        standby,
        create_id,
        update_id,
        create_time,
        update_time,
        lc_id,
        `type`
        )
        VALUES
        (
        #{userId},
        #{price},
        #{orderNumber},
        #{orderType},
        #{status},
        #{productName},
        now(),
        #{standby},
        #{createId},
        #{updateId},
        now(),
        #{updateTime},
        #{lcId},
        #{type}
        );
    </insert>

    <!--插入预支付订单-->
    <insert id="insertPreOrder" parameterType="com.wisewin.api.entity.bo.OrderBO">
        insert into lt_order
        (user_id,price,order_number,order_type,`status`,product_name,create_time,`type`,lc_id)
        values
        (#{userId},#{price},#{orderNumber},#{orderType},#{status},#{productName},now(),#{type},#{lcId})
    </insert>

    <!--订单支付成功-->
    <update id="updOrderStatus">
        update lt_order set status=#{status},creation_date=now() where order_number=#{orderNumber}
    </update>

    <!--查询单条订单-->
    <select id="getOrderByOrderNumber" parameterType="java.lang.String" resultType="com.wisewin.api.entity.bo.OrderBO">
        select * from lt_order where order_number=#{orderNumber}
    </select>
    <!--查询某个用户的某个课程是否购买-->
    <select id="getStatusByCourseId" resultType="java.lang.Integer">
        SELECT
        count(oc.id)
        FROM
        lt_order_courses oc
        WHERE
        oc.user_id = #{userId}
        AND oc.courses_id = #{courseId}
        AND DATE_FORMAT(NOW(),'%Y-%m-%d') &lt;= oc.course_validity_period
    </select>


    <!--查询是否购买该课程-->
    <select id="queryOrderCount" resultType="int" >
        SELECT count(tr.id) FROM lt_order  tr LEFT JOIN lt_order_courses  ts ON ts.order_id = tr.id
        WHERE  ts.course_validity_period >= now()  AND  tr.user_id=#{userId} AND tr.`status`='yes'  AND ts.courses_id=#{courseId}
    </select>

    <!--查询课程订单-->
    <select id="courseOrder" parameterType="java.lang.String" resultType="com.wisewin.api.entity.bo.OrderBO">
        SELECT o.*,c.thumbnail_image_url,c.course_intro as intro FROM lt_order o,lt_course c WHERE o.lc_id = c.id AND o.id = #{id}
    </select>

    <!--查询语言订单-->
    <select id="languageOrder" parameterType="java.lang.String" resultType="com.wisewin.api.entity.bo.OrderBO">
        SELECT o.*,a.thumbnail_image_url,a.language_intro as intro FROM lt_order o,lt_language a WHERE o.lc_id = a.id AND o.id = #{id}
    </select>

    <!--查询vid是否存在-->
    <select id="isVidWahch" parameterType="java.lang.String"  resultType="int">
        SELECT COUNT(id)  FROM lt_chapter WHERE video_path=#{vid}
    </select>

    <select id="isFree"  resultType="int"  parameterType="java.lang.Integer"  >
            SELECT COUNT(id)  FROM lt_chapter WHERE id=#{id}  AND   free_or_not='yes'
    </select>
</mapper>
