<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.api.dao.OrderDAO">
<!--查询所有记录-->
    <select id="selectAll" resultType="com.wisewin.api.entity.bo.OrderBO"
            parameterType="java.util.Map">
        select
        `id` ,`user_id` ,`price` ,`order_number` ,
        `order_type` ,`status` ,`product_name` ,`creation_date` ,`course_validity_period`
        from lt_order

        <where>
            user_id=#{userId}

            <if test="orderType!=null">AND order_type=#{orderType}</if>
            <if test="status!=null">AND status=#{status}</if>
        </where>
        ORDER BY `create_time` DESC

        <include refid="limit" />
    </select>
    <sql id="limit">
        limit #{pageOffset},#{pageSize}
    </sql>
    <!--查询订单详情-->
    <select id="selectDetails" resultType="com.wisewin.api.entity.bo.OrderBO"
            parameterType="java.util.Map">
        select
        lo.id,lo.user_id ,lo.price ,lo.order_number ,
        lo.order_type ,lo.status ,lo.product_name ,lo.creation_date ,lo.course_validity_period
        from lt_order lo
        <where>
            user_id=#{userId} AND id=#{id}
        </where>

    </select>

    <!--插入订单-->
    <insert id="insertOrder" parameterType="com.wisewin.api.entity.bo.OrderBO" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO language_talent.lt_order
        (
        user_id,
        price,
        order_number,
        order_type,
        `status`,
        product_name,
        creation_date,
        standby,
        create_id,
        update_id,
        create_time,
        update_time
        )
        VALUES
        (
        #{userId},
        #{price},
        #{orderNumber},
        #{orderType},
        #{status},
        #{productName},
        #{creationDate},
        #{standby},
        #{createId},
        #{updateId},
        #{createTime},
        #{updateTime}
        );
    </insert>

    <!--插入预支付订单-->
    <insert id="insertPreOrder" parameterType="com.wisewin.api.entity.bo.OrderBO">
        insert into lt_order
        (user_id,price,order_number,order_type,`status`,product_name,creation_date)
        values
        (#{userId},#{price},#{orderNumber},#{orderType},#{status},#{productName},now())
    </insert>

    <!--订单支付成功-->
    <update id="updOrderStatus" parameterType="java.lang.String">
        update lt_order set status=#{status} where order_number=#{orderNumber}
    </update>

    <!--查询单条订单-->
    <select id="getOrderByOrderNumber" parameterType="java.lang.String" resultType="com.wisewin.api.entity.bo.OrderBO">
        select * from lt_order where order_number=#{orderNumber}
    </select>
    <!--查询某个用户的某个课程是否购买-->
    <select id="getStatusByCourseId" resultType="java.lang.String">
        SELECT
        `or`.`status`
        FROM
        lt_order_courses oc
        LEFT JOIN lt_order `or` ON oc.order_id = `or`.id
        WHERE
        oc.user_id = #{userId}
        AND oc.courses_id = #{courseId}
        AND NOW() &lt; oc.course_validity_period
    </select>


</mapper>