<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.api.dao.OrderCoursesDAO">
    <select id="selectOrderCourses" resultType="com.wisewin.api.entity.bo.OrderCoursesBO">
        SELECT 	id,
        user_id as userId,
        order_id as orderId,
        courses_id as coursesId ,
        courses_name as coursesName,
        standby as standby,
        create_id as createId,
        update_id as updateId,
        create_time as createTime,
        update_time as updateTime
        FROM
        language_talent.lt_order_courses
            WHERE  user_id =  #{userId}   AND   courses_id=#{coursesId}

    </select>
    
    <insert id="insetOrderCourse" parameterType="com.wisewin.api.entity.bo.OrderCoursesBO">

    INSERT INTO language_talent.lt_order_courses
            (
            user_id,
            order_id,
            courses_id,
            courses_name,
            create_time,
            update_time,
            course_validity_period
            )
            VALUES
            (
            #{userId},
            #{orderId},
            #{coursesId},
            #{coursesName},
            #{createTime},
            #{updateTime},
            #{courseValidityPeriod}
            );
    </insert>

    <!--批量插入-->
    <insert id="insetListOrderCourse" parameterType="java.util.List">
        INSERT INTO language_talent.lt_order_courses  (  user_id, order_id, courses_id, courses_name, create_time,
        update_time,course_validity_period) VALUE
        <foreach collection ="list" item="orderCourses" separator =",">
            (
            #{orderCourses.userId}, #{orderCourses.orderId},
            #{orderCourses.coursesId}, #{orderCourses.coursesName}, #{orderCourses.createTime},
            #{orderCourses.updateTime},#{orderCourses.courseValidityPeriod}
            )
        </foreach >
            ;
    </insert>

    <!--批量插入购买的课程-->
    <insert id="addCourses" parameterType="java.util.List">
        insert into lt_order_courses
        (user_id,order_id,courses_id,courses_name,course_validity_period)
        values
        <foreach collection ="orderCoursesBOS" item="orderCourses" separator =",">
            (#{orderCourses.userId},#{orderCourses.orderId},#{orderCourses.coursesId},#{orderCourses.coursesName},#{orderCourses.courseValidityPeriod})
        </foreach >
    </insert>
</mapper>