<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.api.dao.QuestionDAO">
    <select id="queryQuestionList" resultType="com.wisewin.api.entity.bo.QuestionBO" parameterType="java.util.Map">
           SELECT
            topic,
            `option`,
            answer,
            score,
            relevance_id as relevanceId,
            question_type as questionType,
            test_type as testType
            FROM
            language_talent.lt_question

        <where>
                <if test="relevanceId !=null and relevanceId != ''">
                  relevance_id = #{relevanceId}
                </if>
                <if test="questionType != null and questionType != ''">
                  and  question_type = #{questionType}
                </if>
                <if test="testType != null and testType != ''">
                  and  test_type = #{testType}
                </if>
            </where>

    </select>


</mapper>