<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【记录】 -->
<mapper namespace="com.wisewin.api.dao.RecordDAO">

   <!--添加用户行为记录-->
    <insert id="insertUserAction"     parameterType="com.wisewin.api.entity.bo.RecordBO">

        INSERT INTO lt_record
        <set>
            <if test="userId!=null">`user_id`=#{userId},</if>
            <if test="source!=null">`source`=#{source},</if>
            <if test="status!=null">`status`=#{status},</if>
            <if test="specificAmount!=null">`specific_amount`=#{specificAmount},</if>
            <if test="describe!=null">`describe`=#{describe},</if>
            `create_time`=now()
        </set>

    </insert>
    <!--查询用户行为记录-->
    <select id="selectUserAction" resultType="com.wisewin.api.entity.bo.RecordBO">
        select
        `id`,`user_id`,`source`,`status`,`specific_amount`,`describe` ,
        `create_time`
        from
         `lt_record`

        <where>
            user_id=#{userId}

            <if test="source!=null">AND source=#{source}</if>
            <if test="status!=null">AND status=#{status}</if>
        </where>
        ORDER BY `create_time` DESC

        <include refid="limit" />

    </select>
    <sql id="limit">
        limit #{pageOffset},#{pageSize}
    </sql>

    <!--查询当前用户记录总条数-->
    <select id="selectUserRecord" resultType="java.lang.Integer"
            parameterType="java.util.Map">

        SELECT COUNT(id) FROM lt_record
        <where>
            user_id=#{userId}

            <if test="source!=null">AND source=#{source}</if>

        </where>
    </select>

    <update id="updateUser" parameterType="com.wisewin.api.entity.bo.UserSignBO">
        update lt_user
        <set>

            <if test="integral!=null">integral=#{integral},</if>
            <if test="currency!=null">currency=#{currency}</if>

        </set>
        where
        id=#{id}
    </update>

    <!--查询今天获取积分次数 -->
    <select id="queryNumber"  resultType="int"  parameterType="java.util.Map">
        SELECT  COUNT(id) FROM `lt_record`
             WHERE source='积分'  AND  `describe`=#{describe}
             AND  create_time  BETWEEN  #{startTime}  AND  #{endTime}
             AND user_id =#{userId}
    </select>


</mapper>