<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 邀请好友图片 -->
<mapper namespace="com.wisewin.api.dao.ShareDAO">
    
    <select id="queryShare" resultType="com.wisewin.api.entity.bo.ShareBO" >
        SELECT * FROM `lt_share`   WHERE    `key`=#{key}
    </select>


</mapper>