<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 专题 -->
<mapper namespace="com.wisewin.api.dao.SpecialDAO">

    <!-- 根据状态 分类id 分页查看 的专题 -->
    <select id="selectSpecialBO" resultType="com.wisewin.api.entity.bo.SpecialBO">
        select
        id,class_id,title,`describe`,release_date as releaseDateStr,
        traffic,video_url,like_number,status,sorting
        from lt_special
        where status='putaway'
        and class_id=#{classId}
        order by sorting desc
    </select>

    <!-- 某个用户 点击的某个专题 -->
    <select id="selectSpecialBOById" resultType="com.wisewin.api.entity.bo.SpecialBO">
        select
         id,class_id,title,`describe`,release_date as releaseDateStr,
        traffic,video_url,like_number,status,sorting
         from lt_special
        where id=#{id} and status='putaway'
    </select>

    <!-- 某个专题添加访问量-->
    <update id="addSpecialTraffic">
        update lt_special set traffic=traffic+1 where id =#{id}
    </update>

    <!-- 查看某个人 是否喜欢了这个专题-->
    <select id="checkUserLikeSpecial" resultType="java.lang.Integer">
        select count(*) from lt_special_like_user
        where user_id=#{userId} and special_id=#{specialId}
    </select>

    <!-- 喜欢这个专题-->
    <insert id="addSpecialLikeUser">
        insert into lt_special_like_user (special_id,user_id) values (#{specialId},#{userId})
    </insert>

    <!-- 不喜欢这个专题-->
    <delete id="delSpecialLikeUser">
        delete from lt_special_like_user where special_id=#{specialId} and user_id=#{userId}
    </delete>

    <!-- 专题的喜欢数 +1 -1-->
    <update id="updSpecialLikeCount">
        update lt_special set like_number=like_number+#{number} where id =#{specialId}
    </update>

    <!--
        点进去一条专题的详情页  下的其他专题
        1.
        查询专题类下专题最多的专题 select * from lt_special
        where class_id =
        (select class_id from lt_special  group by class_id order by count(*) desc limit 1)
        2.查询喜欢人数最多的专题 不区分类别
    -->
    <select id="selectOtherSpecialBO" resultType="com.wisewin.api.entity.bo.SpecialBO">
      select
       id,class_id,title,`describe`,release_date as releaseDateStr,
        traffic,video_url,like_number,status,sorting
       from lt_special where status='putaway' order by like_number desc limit 5
    </select>






</mapper>