<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 专题分类 -->
<mapper namespace="com.wisewin.api.dao.SpecialClassDAO">

    <!-- 查看专题分类 -->
    <select id="selectSpecialClassBO" resultType="com.wisewin.api.entity.bo.SpecialClassBO">
        select * from lt_special_class
        where `status`='putaway'
        order by sorting desc
        limit 3
    </select>

</mapper>