<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 专题 -->
<mapper namespace="com.wisewin.api.dao.SpecialDAO">

    <!-- 根据状态 分类id 分页查看 的专题 -->
    <select id="selectSpecialBO" resultType="com.wisewin.api.entity.bo.SpecialBO">
        select * from lt_special
        where
        and status='yes'
        and special_id=#{specialId}
        order by sorting desc
    </select>



</mapper>