<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  -->
<mapper namespace="com.wisewin.api.dao.StudyPlanDAO">

    <resultMap id="chapters" type="com.wisewin.api.entity.bo.LevelBO">
        <result column="languageName" property="languageName"/>
        <result column="ensignImageUrl" property="ensignImageUrl"/>
        <result column="courseName" property="courseName"/>
        <result column="courseIntro" property="courseIntro"/>
        <result column="levelName" property="levelName"/>
        <result column="levelId" property="id"/>
        <result column="languageId" property="languageId"/>
        <result column="courseId" property="courseId"/>
        <collection property="chapterBOList" ofType="com.wisewin.api.entity.bo.ChapterResultBO">
            <id column="chapterId" property="chapterId"/>
            <result column="chapter_name" property="chapterName"/>
            <result column="freeOrNot" property="freeOrNot"/>
            <result column="video_path" property="videoPath"/>
            <result column="thumbnailUrl" property="thumbnailUrl"/>
        </collection>

    <!--获取学习计划-->
    </resultMap>
    <select id="getStudyPlan" parameterType="java.lang.Integer"
            resultMap="chapters">
        SELECT
        `language`.language_name languageName,`language`.ensign_image_url ensignImageUrl,
        course.course_name courseName,`language`.id languageId,
        chapter.chapter_name,course.course_intro courseIntro,
        chapter.thumbnail_url thumbnailUrl,`level`.level_name levelName,
        `language`.id languageId,course.id courseId,
        `level`.id levelId,chapter.free_or_not freeOrNot,
        chapter.id chapterId,chapter.video_path
        FROM
        lt_chapter `chapter`
        LEFT JOIN lt_level `level` ON chapter.level_id = `level`.id
        LEFT JOIN lt_course `course` ON `level`.course_id = course.id
        LEFT JOIN lt_language `language` ON course.language_id = `language`.id
        WHERE
        `language`.id = #{languageId} AND `level`.id = #{levelId}
        <if test="levelId!=null"> </if>
        <if test="levelId==null"> ORDER BY `level`.create_time DESC LIMIT 0,1 </if>
    </select>



    <!--获取学习计划，当用户第一次进来时默认第一个级别-->
    <select id="getLevelIdByOne" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
        SELECT le.id
        FROM lt_level le LEFT JOIN lt_course co ON le.course_id = co.id
        LEFT JOIN lt_language la ON co.language_id = la.id
        WHERE la.id = #{languageId} AND co.`status` = 'putaway' AND la.`status` = 'putaway'
        ORDER BY le.create_time ASC LIMIT 0,1
    </select>

    <resultMap id="levelList" type="com.wisewin.api.entity.bo.LanguageResultBO">
        <result column="languageId" property="id"/>
        <result column="languageName" property="languageName"/>
        <collection property="courseList" ofType="com.wisewin.api.entity.bo.CourseResultBO">
            <id column="courseId" property="courseId"/>
            <result column="courseName" property="courseName"/>
            <collection property="levelList" ofType="com.wisewin.api.entity.bo.LevelResultBO">
                <id column="levelId" property="levelId"/>
                <result column="levelName" property="levelName"/>

            </collection>

        </collection>

    </resultMap>
    <!--获取首页右侧栏级别列表-->
    <select id="getLevelList" resultMap="levelList">
        SELECT `language`.id languageId,`language`.language_name languageName,
        course.id courseId,course.course_name courseName,
        `level`.id levelId,`level`.level_name levelName
        FROM
        lt_level `level`
        RIGHT JOIN lt_course `course` ON `level`.course_id = course.id
        RIGHT JOIN lt_language `language` ON course.language_id = `language`.id
        WHERE
        `language`.id = #{languageId}
    </select>
    <!--查询某个级别下的课时数-->
    <select id="getLevelCount" resultType="java.lang.Integer">
        SELECT
        count(ch.id) chapterCount
        FROM
        lt_level `le`
        LEFT JOIN lt_chapter ch ON ch.level_id = le.id
        WHERE
        `le`.id = #{levelId}
    </select>


</mapper>