<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.api.dao.UserDAO">

    <!--通过phone查看库里有没有这个账号-->
    <select id="selectByPhone" resultType="com.wisewin.api.entity.bo.UserBO">
        select
        id,nickname,mobile,status
        from
        lt_user
        where
        mobile=#{phone}
    </select>

    <insert id="insertUser"     parameterType="com.wisewin.api.entity.bo.UserBO"
            useGeneratedKeys="true" keyProperty="id">

        insert into lt_user(
        nickname,birthday,sex,password,mobile
        )values(
        #{nickname},#{birthday},#{sex},#{password},#{mobile}
        )

    </insert>


    <update id="updateUser" parameterType="com.wisewin.api.entity.param.UserParam">
        update lt_user
        <set>

            <if test="nickname!=null">         nickname=#{nickname},</if>
            <if test="password!=null">         password=#{password},</if>
            <if test="sex!=null">              sex=#{sex},</if>
            <if test="ageGroup!=null">         age_group=#{ageGroup},</if>
            <if test="learningGoal!=null">     learning_goal=#{learningGoal},</if>
            <if test="birthday!=null">         birthday=#{birthday}</if>
            <if test="headPortraitUrl!=null">  head_portrait_url=#{headPortraitUrl}</if>

        </set>
        where
        id=#{id}
    </update>
    <!--通过id查找用户信息-->
    <select id="selectAllById" resultType="com.wisewin.api.entity.bo.UserBO">
        select
        `id` ,`name` ,`nickname` ,`password` ,`email` ,`mobile`,`age_group` ,
`head_portrait_url`,`sex`,`birthday` ,`source` ,`career` ,`integral` ,`currency` ,`learning_goal` ,`studying_language_id` ,
`language_like_id` ,`invite_code` ,`by_invite` ,`job`,`qq_openid` ,`wx_openid` ,`continuous_sign` ,`cumulative_sign` ,
`last_sign` ,`continuous_learning` ,`cumulative_learning` ,`study_date` datetime ,`status` ,
`create_id`,`update_id` ,`create_time` ,`update_time`
        from
        lt_user
        where
        id=#{id}
    </select>

    <!--后面的所有留待备用-->
    <update id="updatePassword" parameterType="com.wisewin.api.entity.bo.UserBO">
        update lt_user
        <set>

            <if test="password!=null">
                password=#{password}
            </if>

        </set>
        where
        phone=#{phone}
    </update>

    <!--通过用户名查询用户信息-->
    <select id="selectUserByUsername" resultType="com.wisewin.api.entity.bo.UserBO">
        select
        id,name,phone,password,birthday,gender
        from
        lt_user
        where
        name=#{name}
    </select>

    <!--修改正在学习的语言-->
    <update id="updateLanguage" parameterType="java.lang.Integer">
        UPDATE lt_user
        <set>
                studying_language_id=#{studyingLanguageId}
        </set>
        WHERE id=#{id}
    </update>


    <select id="selectUser" resultType="com.wisewin.api.entity.bo.UserBO">
        SELECT 	id,
            `name`,
            email,
            mobile,
            age_group as ageGroup,
            head_portrait_url as headPortraitUrl,
            sex,
            birthday,
            source,
            career,
            integral,
            currency,
            learning_goal as learningGoal,
            studying_language_id as studyingLanguageId,
            invite_code as inviteCode,
            by_invite as byInvite,
            job,
            qq_openid as qqOpenid,
            wx_openid as wxOpenid,
            continuous_sign as continuousSign,
            cumulative_sign as cumulativeSign,
            last_sign as lastSign,
            continuous_learning as continuousLearning,
            cumulative_learning as cumulativeLearning,
            study_date,
            `status`,
            create_id as createId,
            update_id as updateId,
            create_time as createTime,
            update_time as updateTime
            FROM
            language_talent.lt_user
                WHERE id = #{id}
    </select>

         <!--扣减用户咖豆-->
    <update id="updateUserCrrency">
    UPDATE language_talent.lt_user
        SET
        currency = currency - #{price}
        WHERE
        id = #{id} ;
    </update>

    <!--用户充值咖豆-->
    <update id="updateUserAugment" parameterType="java.util.Map">
        UPDATE
           lt_user
        SET
           currency=currency+#{currency}
        WHERE
          id=#{id}
    </update>
</mapper>